@import "./mixins";

* {
  margin: 0;
  padding: 0;

  outline: none;
  list-style-type: none;
  text-decoration: none;

  box-sizing: border-box;

  font-family: Poppins, Poppins-Regular, sans-serif;
  font-style: normal;
  font-weight: normal;

  @include no-select;
}

body {
  overflow: hidden;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
}
