@import "./mixins/box";
@import "./mixins/media";
@import "./mixins/transition";
@import "./mixins/flex";
@import "./mixins//transforms";
@import "./mixins//filter";

@mixin no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

@mixin row($justify-content: space-between, $align-items: center) {
  @include flexbox;
  @include flex-direction;
  @include justify-content($justify-content);
  @include align-items($align-items);
}

@mixin column(
  $flex-direction: column,
  $justify-content: center,
  $align-items: flex-start
) {
  @include flexbox;
  @include flex-direction($flex-direction);
  @include justify-content($justify-content);
  @include align-items($align-items);

  width: 100%;
}